/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.title {
  text-align: center;
  color: blueviolet;
}
/* Estilos específicos */
.destaque {
  background-color: #ffc107;
  padding: 20px;
}

.novidades {
  background-color: #3af321;
  color: #fff;
  padding: 20px;
}

.central {
  display: flex;
  justify-content: center;
}

.produto {
flex-direction: row;
}
.slider input {
  display: none;
}

.slider {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 55%;
  width: 50%;
  vertical-align: top;
}

.slider label {
  background-color: #000;
  bottom: 10px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  z-index: 10;
}

.slider li:nth-child(1) label {
  left: 10px;
}

.slider li:nth-child(2) label {
  left: 40px;
}

.slider li:nth-child(3) label {
  left: 70px;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
